#root {
    background: #060e0e;
    font-family: 'Roboto Mono', monospace;
}

button {
    font-family: 'Roboto Mono', monospace;
    border: none;
    border-radius: 3px;
    background: #f05d5e;
    color: #060e0e;
    user-select: none;
}

button:active, input[type="button"]:active {
    outline: none;
}

button:focus, input[type="button"]:focus {
    outline: none;
}

p {
    color: #f1f2eb;
}
