#root {
    background: #101010;
    font-family: 'Roboto Mono', monospace;
}

button {
    font-family: 'Roboto Mono', monospace;
    border: none;
    border-radius: 3px;
    background: #f05d5e;
    color: #101010;
    user-select: none;
}

button:active, input[type="button"]:active {
    outline: none;
}

button:focus, input[type="button"]:focus {
    outline: none;
}

p {
    color: #f1f2eb;
}

a {
    color: #f05d5e;
}

a:hover {
    color: #f67b7c;

}

.centerField {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f1f2eb;
    text-align: left;
}

input, .inputField {
    background: #2f2e2e;
    color: #f1f2eb;
    width: 300px;
    border: solid #2f2e2e;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 13pt;
    font-family: 'Roboto Mono', monospace;
}


input[type="checkbox"]:active {
    background:  #913434;
}
