.navBar {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #2f2e2e;
    color: #101010;
}

.navBar > * {
    color: #f1f2eb;
    border-bottom: 2px solid #f1f2eb;
}

.navElement {
    align-items: center;
    display: flex;
    height: 100%;
}

.activeNav {
    border-bottom: 2px solid #f05d5e !important;
    color: #f05d5e;
}

.profileDropdown {
    background: #101010;
    border: 1px solid #2f2e2e;
    padding: 10px;
    min-width: 200%;
    color: #f1f2eb;
}

.dropdownItem {
    color: #f1f2eb;
    padding-left: 0;
}

.dropdownItem:hover {
    background: none;
    color: #b1b1af;
    padding-left: 0;
}
